<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Gosling | {{ title }}</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div class="container">
    <div class="navigation">
      <div class="logo">
        <a href="index.xhtml"><img src="images/gosling-square-small-opt.svg" alt="Gosling Icon" /></a>
      </div>
      <h2>Navigation</h2>
      <ul>
        <li><a href="news.xhtml">News</a></li>
        <li><a href="https://github.com/blueprint-freespeech/gosling">GitHub</a></li>
        <li><a href="design-doc.xhtml">Design Document</a></li>
        <li>Source Documentation
          <ul>
            <li><a href="cgosling/index.html">cgosling (C/C++)</a></li>
            <li><a href="crates/gosling/index.html">gosling</a></li>
            <li><a href="crates/tor_interface/index.html">tor-interface</a></li>
            <li><a href="crates/honk_rpc/index.html">honk-rpc</a></li>
          </ul>
        </li>
        <li>Protocol Specifications
          <ul>
            <li><a href="gosling-spec.xhtml">Gosling</a></li>
            <li><a href="honk-rpc-spec.xhtml">Honk-RPC</a></li>
          </ul>
        </li>
        <li><a href="coverage.html">Test Coverage</a></li>
        <li><a href="security-reviews.xhtml">Security Reviews</a></li>
      </ul>
    </div>
    <div class="content">
{{> content }}
      <hr/>
      <footer>
        <p>&copy; 2023-{{ year }} <a href="https://www.blueprintforfreespeech.net">Blueprint for Free Speech</a>. All rights reserved.</p>
        <p><i>Page last modified {{ modified-date }}</i></p>
      </footer>
    </div>
  </div>
</body>
</html>

