* {
  font-family: sans-serif;
  line-height: 1.4;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  display: flex;
}

.navigation {
  flex: none;
  background-color: #DDD;
  padding: 0.5em;
}

@media print {
  .navigation {
    display: none;
  }
}

.logo {
  text-align: center;
  margin-bottom: 1em;
}

.logo img {
  width: 196px;
  height: 196px;
}

.content {
  padding-inline: 1.0em;
}


code {
  background-color: #EEE;
  padding-block: 0.15em;
  padding-inline: 0.35em;
  font-family: monospace;
  border-radius: 0.35em;
}

pre code {
  box-sizing: border-box;
  display: table;
  width: 100%;
  padding: 0.75em;
}
