name: test

on: [push, pull_request]

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - test: honk_rpc_cargo_test
          - test: tor_interface_crypto_cargo_test
          - test: tor_interface_tor_provider_cargo_test
          - test: tor_interface_mock_authenticated_onion_service_cargo_test
          - test: tor_interface_mock_bootstrap_cargo_test
          - test: tor_interface_mock_onion_service_cargo_test
          - test: tor_interface_arti_bootstrap_cargo_test
            install-arti: true
          - test: tor_interface_arti_client_authenticated_onion_service_cargo_test
          - test: tor_interface_arti_client_bootstrap_cargo_test
          - test: tor_interface_arti_client_onion_service_cargo_test
          - test: tor_interface_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_legacy_bootstrap_cargo_test
          - test: tor_interface_legacy_onion_service_cargo_test
          - test: tor_interface_legacy_pluggable_transport_bootstrap_cargo_test
          - test: tor_interface_system_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_system_legacy_onion_service_cargo_test
          - test: tor_interface_mixed_arti_client_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_mixed_arti_client_legacy_onion_service_cargo_test
          - test: tor_interface_mixed_legacy_arti_client_authenticated_onion_service_cargo_test
          - test: tor_interface_mixed_legacy_arti_client_onion_service_cargo_test
          # - test: tor_interface_mixed_arti_legacy_onion_service_cargo_test
          #   install-arti: true
          - test: tor_interface_mixed_legacy_arti_onion_service_cargo_test
            install-arti: true
          # - test: tor_interface_mixed_arti_legacy_authenticated_onion_service_cargo_test
          #   install-arti: true
          # - test: tor_interface_mixed_legacy_arti_authenticated_onion_service_cargo_test
          # install-arti: true
          - test: gosling_cargo_test
          - test: cgosling_cargo_test
          - test: gosling_cpp_bindings_test
          - test: gosling_java_bindings_test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Gosling
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libboost-all-dev tor libsqlite3-dev liblzma-dev
      - name: Install arti
        if: ${{ matrix.install-arti }}
        run: |
          cargo install arti --features rpc,experimental --version 1.4.6
      - name: Test
        run: |
          mkdir build
          cd build
          cmake .. -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DENABLE_TESTS=ON -DENABLE_ARTI_CLIENT_TOR_PROVIDER=ON -DENABLE_TOR_EXPERT_BUNDLE=ON -DBUILD_JAVA_BINDINGS=ON
          if [ "${{ matrix.install-arti }}" = "true" ]; then cmake .. -DENABLE_ARTI_TOR_PROVIDER=ON; fi
          ctest --verbose -R ^${{matrix.test}}
  windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - test: honk_rpc_cargo_test
          - test: tor_interface_crypto_cargo_test
          - test: tor_interface_tor_provider_cargo_test
          - test: tor_interface_mock_authenticated_onion_service_cargo_test
          - test: tor_interface_mock_bootstrap_cargo_test
          - test: tor_interface_mock_onion_service_cargo_test
          - test: tor_interface_arti_bootstrap_cargo_test
            install-arti: true
          - test: tor_interface_arti_client_authenticated_onion_service_cargo_test
          - test: tor_interface_arti_client_bootstrap_cargo_test
          - test: tor_interface_arti_client_onion_service_cargo_test
          - test: tor_interface_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_legacy_bootstrap_cargo_test
          - test: tor_interface_legacy_onion_service_cargo_test
          - test: tor_interface_legacy_pluggable_transport_bootstrap_cargo_test
          - test: tor_interface_system_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_system_legacy_onion_service_cargo_test
          - test: tor_interface_mixed_arti_client_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_mixed_arti_client_legacy_onion_service_cargo_test
          - test: tor_interface_mixed_legacy_arti_client_authenticated_onion_service_cargo_test
          - test: tor_interface_mixed_legacy_arti_client_onion_service_cargo_test
          # - test: tor_interface_mixed_arti_legacy_onion_service_cargo_test
          #   install-arti: true
          - test: tor_interface_mixed_legacy_arti_onion_service_cargo_test
            install-arti: true
          # - test: tor_interface_mixed_arti_legacy_authenticated_onion_service_cargo_test
          #   install-arti: true
          # - test: tor_interface_mixed_legacy_arti_authenticated_onion_service_cargo_test
          #   install-arti: true
          - test: gosling_cargo_test
          - test: cgosling_cargo_test
          - test: gosling_cpp_bindings_test
          - test: gosling_java_bindings_test
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout Gosling
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Uninstall Rust
        shell: cmd
        run: |
          rustup self uninstall -y
      - name: Install MSYS2 Dependencies
        uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          path-type: strict
          update: true
          install: >-
            make
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-clang
            mingw-w64-clang-x86_64-rust
            mingw-w64-clang-x86_64-boost
            mingw-w64-clang-x86_64-tor
            mingw-w64-clang-x86_64-sqlite3
      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          architecture: x86_64
      - name: Install arti
        if: ${{ matrix.install-arti }}
        run: |
          cargo install arti --features rpc,experimental --version 1.4.6
      - name: Test
        env:
          CC: clang
        run: |
          export PATH=$(cygpath -u ${JAVA_HOME})/bin:$PATH
          export PATH=$(cygpath -u C:/Users/$(whoami)/.cargo/bin):$PATH
          mkdir build
          cd build
          cmake .. -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DENABLE_TESTS=ON -DENABLE_LEGACY_TOR_PROVIDER=ON -DENABLE_ARTI_CLIENT_TOR_PROVIDER=ON -DENABLE_TOR_EXPERT_BUNDLE=ON -DBUILD_JAVA_BINDINGS=ON
          if [ "${{ matrix.install-arti }}" = "true" ]; then cmake .. -DENABLE_ARTI_TOR_PROVIDER=ON; fi
          ctest --verbose -R ^${{matrix.test}}
  macos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - test: honk_rpc_cargo_test
          - test: tor_interface_crypto_cargo_test
          - test: tor_interface_tor_provider_cargo_test
          - test: tor_interface_mock_authenticated_onion_service_cargo_test
          - test: tor_interface_mock_bootstrap_cargo_test
          - test: tor_interface_mock_onion_service_cargo_test
          - test: tor_interface_arti_bootstrap_cargo_test
            install-arti: true
          - test: tor_interface_arti_client_authenticated_onion_service_cargo_test
          - test: tor_interface_arti_client_bootstrap_cargo_test
          - test: tor_interface_arti_client_onion_service_cargo_test
          - test: tor_interface_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_legacy_bootstrap_cargo_test
          - test: tor_interface_legacy_onion_service_cargo_test
          - test: tor_interface_legacy_pluggable_transport_bootstrap_cargo_test
          - test: tor_interface_system_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_system_legacy_onion_service_cargo_test
          - test: tor_interface_mixed_arti_client_legacy_authenticated_onion_service_cargo_test
          - test: tor_interface_mixed_arti_client_legacy_onion_service_cargo_test
          - test: tor_interface_mixed_legacy_arti_client_authenticated_onion_service_cargo_test
          - test: tor_interface_mixed_legacy_arti_client_onion_service_cargo_test
          # - test: tor_interface_mixed_arti_legacy_onion_service_cargo_test
          #   install-arti: true
          - test: tor_interface_mixed_legacy_arti_onion_service_cargo_test
            install-arti: true
          # - test: tor_interface_mixed_arti_legacy_authenticated_onion_service_cargo_test
          #   install-arti: true
          # - test: tor_interface_mixed_legacy_arti_authenticated_onion_service_cargo_test
          #   install-arti: true
          - test: gosling_cargo_test
          - test: cgosling_cargo_test
          - test: gosling_cpp_bindings_test
          - test: gosling_java_bindings_test
    runs-on: macos-latest
    steps:
      - name: Checkout Gosling
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Dependencies
        run: |
          brew install boost tor sqlite3
      - name: Install arti
        if: ${{ matrix.install-arti }}
        run: |
          cargo install arti --features rpc,experimental --version 1.4.6
      - name: Test
        run: |
          mkdir build
          cd build
          cmake .. -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DENABLE_TESTS=ON -DENABLE_ARTI_CLIENT_TOR_PROVIDER=ON -DENABLE_TOR_EXPERT_BUNDLE=ON -DBUILD_JAVA_BINDINGS=ON
          if [ "${{ matrix.install-arti }}" = "true" ]; then cmake .. -DENABLE_ARTI_TOR_PROVIDER=ON; fi
          ctest --verbose -R ^${{matrix.test}}
