name: website

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Gosling
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libboost-all-dev liblzma-dev tor
          cargo install cargo-tarpaulin cargo-sbom --locked
          sudo apt-get install -y doxygen pandoc plantuml tidy ruby-mustache graphviz
      - name: Build Pages
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=../dist -DBUILD_PAGES=ON -DENABLE_ARTI_CLIENT_TOR_PROVIDER=ON -DENABLE_TOR_EXPERT_BUNDLE=ON -DBUILD_JAVA_BINDINGS=ON
          make
          make install
          echo "gosling.technology" > ../dist/share/doc/gosling/CNAME
      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist/share/doc/gosling

